<ons-page ng-controller="yearController">
    <ons-toolbar modifier="opacity">
        <div class="left">
            <ons-toolbar-button ng-click="app.navi.popPage(); app.navi.popPage();">{{i18n.today}}</ons-toolbar-button>
        </div>
        <div class="center" ng-click="app.navi.popPage()">{{i18n.calendar}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.navi.pushPage('info.html')"><i class="icon icon-info"></i>
            </ons-toolbar-button>
            <ons-toolbar-button ng-click="app.navi.pushPage('settings.html')"><i class="icon icon-settings"></i>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="app-page main-page">
        <div style="height: 100%;">
            <ons-list ng-repeat="year in years" class="year-list" style="border: none;">
                <ons-list-item class="year-item">
                    <span style="position: absolute; top:-46px;" class="year-item-{{year}}"></span>
                    <div class="center">{{year}}</div>
                </ons-list-item>
                <ons-list-item ng-repeat="month in months" modifier="tappable" class="green"
                               ng-click="selectMonth($index, year)">
                    <div class="month-item">{{month | uppercase}}</div>
                </ons-list-item>
            </ons-list>

        </div>
    </div>
</ons-page>